{% extends 'task/main.html' %}

{% block content %}
    <h2 class="section-title">Корзина</h2>
    {% if cart_items %}
        <ul>
            {% for item in cart_items %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'clear_cart' %}">
            <button>Очистить корзину</button>
        </a>
    {% else %}
        <p>Корзина пуста.</p>
    {% endif %}
    <a href="{% url 'home' %}"><button>Вернуться обратно</button></a>
{% endblock %}
