{% extends 'task/main.html' %}

{% block content %}
    <h2>Платформа</h2>
    {% if platform_menu %}
        <p>Навигация по платформе:</p>
        <ul>
            {% for item in platform_menu %}
                <li>{{ item|capfirst }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Разделов пока нет.</p>
    {% endif %}
{% if request.session.buyer_name %}
    <a href="{% url 'profile' username=request.session.buyer_name %}">
        <button>Вернуться в профиль</button>
    </a>
{% endif %}
{% endblock %}
